a.boton { 
    padding: 5px 10px;
    color:#000;
    text-decoration:none;
    background: rgb(60, 160, 21);
    color:rgb(146, 255, 103); 
    transition: background 0.7s ease, color 0.7s ease;
 } 
 
 a.boton:hover { 
    background: rgb(146, 255, 103);
    color:rgb(60, 160, 21);
 }

 .cajas {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    margin-top: 20px; 
}

.box1 {
    width: 250px;
    padding: 20px;
    background-image:linear-gradient(green, lightgreen);
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    box-shadow:  2px 2px 2px 1px #aaaa;
    border-radius: 20px;
}
.box2 {
    width: 250px;
    padding: 20px;
    background-image: radial-gradient( rgb(255, 255, 255), rgb(163, 163, 163), 
    rgb(88, 88, 88) );
    box-sizing: border-box;
    text-align: center;
    box-shadow:  2px 2px 2px 1px #aaaa;
    border-radius: 20px;
}

h1{
    font-weight: bold;
    color: rgb(20, 20, 20); 
    text-align: center;
    font-size:50px;
    text-shadow: 3px 3px 5px #242424;
}
h3{
    font-weight: bold;
    color: black;
    text-align: center;
    text-shadow: 3px 3px 5px #242424 ;
}

p {
    text-align: center;
}

strong {
    color: black;
}
